# Junk files
*.bak
*.swp
*~
.DS_Store
._*

# Merge files
*.orig
*.rej

# Build artifacts
.clang_complete
.build/
*.elf
*.log
*.lss
*.lst
*.map
*.o
*.a
*.so
*.dylib
*.dll
*.la
*.stackdump
*.sym

# QMK-specific
api_data/v1
quantum/version.h
*.bin
*.eep
*.hex
*.qmk
*.uf2
*.vfw

# DD config at wrong location
/keyboards/**/keymaps/*/info.json

# Old-style QMK Makefiles
/keyboards/**/Makefile

# kbfirmware....
/keyboards/**/kb.h
/keyboards/**/kb.c

# Eclipse/PyCharm/Other IDE Settings
*.iml
.browse.VC.db*
.cproject
.idea
.idea/
.project
.settings/

# ?
.dep
.history/
build/
cmake-build-debug
CMakeLists.txt
*.pdf

# Let these ones be user specific, since we have so many different configurations
*.code-workspace
.stfolder
.tags
.vscode/c_cpp_properties.json
.vscode/ipch/
.vscode/last.sql
.vscode/launch.json
.vscode/tasks.json
.vscode/temp.sql
tags

# Ignore image/font files
*.bmp
*.wbmp
*.gif
*.jpg
*.jpeg
*.png
*.apng
*.mng
*.svg
*.webp
*.webm
*.avi
*.mp4
*.mpeg
*.ttf
*.otf

# Things Travis sees
/.vs
id_rsa_*
secrets.tar

# Python things
__pycache__
.python-version
.venv

# Prerequisites for updating ChibiOS
/util/fmpp*

# Allow to exist but don't include it in the repo
user_song_list.h

# clangd
compile_commands.json
.clangd/
.cache/
keyboards/keyball/readme.md
keyboards/keyball/keyball39/config.h
keyboards/keyball/keyball39/halconf.h
keyboards/keyball/keyball39/info.json
keyboards/keyball/keyball39/keyball39.c
keyboards/keyball/keyball39/keyball39.h
keyboards/keyball/keyball39/keyboard.json
keyboards/keyball/keyball39/mcuconf.h
keyboards/keyball/keyball39/readme.md
keyboards/keyball/keyball39/rules.mk
keyboards/keyball/keyball39/via.json
keyboards/keyball/keyball39/keymaps/default/config.h
keyboards/keyball/keyball39/keymaps/default/keymap.c
keyboards/keyball/keyball39/keymaps/default/rules.mk
keyboards/keyball/keyball39/keymaps/develop/config.h
keyboards/keyball/keyball39/keymaps/develop/keymap.c
keyboards/keyball/keyball39/keymaps/develop/rules.mk
keyboards/keyball/keyball39/keymaps/test/config.h
keyboards/keyball/keyball39/keymaps/test/keymap.c
keyboards/keyball/keyball39/keymaps/test/rules.mk
keyboards/keyball/keyball39/keymaps/tokinarazu_rp2040/config.h
keyboards/keyball/keyball39/keymaps/tokinarazu_rp2040/keymap.c
keyboards/keyball/keyball39/keymaps/tokinarazu_rp2040/rules.mk
keyboards/keyball/keyball39/keymaps/tokinarazu_rp2040/features/select_word.c
keyboards/keyball/keyball39/keymaps/tokinarazu_rp2040/features/select_word.h
keyboards/keyball/keyball39/keymaps/tokinarazu_rp2040/features/translate_ansi_to_jis.c
keyboards/keyball/keyball39/keymaps/tokinarazu_rp2040/features/translate_ansi_to_jis.h
keyboards/keyball/keyball39/keymaps/via/config.h
keyboards/keyball/keyball39/keymaps/via/keymap.c
keyboards/keyball/keyball39/keymaps/via/rules.mk
keyboards/keyball/keyball44/config.h
keyboards/keyball/keyball44/halconf.h
keyboards/keyball/keyball44/info.json
keyboards/keyball/keyball44/keyball44.c
keyboards/keyball/keyball44/keyball44.h
keyboards/keyball/keyball44/keyboard.json
keyboards/keyball/keyball44/mcuconf.h
keyboards/keyball/keyball44/readme.md
keyboards/keyball/keyball44/rules.mk
keyboards/keyball/keyball44/via.json
keyboards/keyball/keyball44/keymaps/default/config.h
keyboards/keyball/keyball44/keymaps/default/keymap.c
keyboards/keyball/keyball44/keymaps/default/rules.mk
keyboards/keyball/keyball44/keymaps/develop/config.h
keyboards/keyball/keyball44/keymaps/develop/keymap.c
keyboards/keyball/keyball44/keymaps/develop/rules.mk
keyboards/keyball/keyball44/keymaps/test/config.h
keyboards/keyball/keyball44/keymaps/test/keymap.c
keyboards/keyball/keyball44/keymaps/test/rules.mk
keyboards/keyball/keyball44/keymaps/tokinarazu_rp2040/config.h
keyboards/keyball/keyball44/keymaps/tokinarazu_rp2040/keymap.c
keyboards/keyball/keyball44/keymaps/tokinarazu_rp2040/rules.mk
keyboards/keyball/keyball44/keymaps/tokinarazu_rp2040/features/select_word.c
keyboards/keyball/keyball44/keymaps/tokinarazu_rp2040/features/select_word.h
keyboards/keyball/keyball44/keymaps/tokinarazu_rp2040/features/sm_td.h
keyboards/keyball/keyball44/keymaps/tokinarazu_rp2040/features/translate_ansi_to_jis.c
keyboards/keyball/keyball44/keymaps/tokinarazu_rp2040/features/translate_ansi_to_jis.h
keyboards/keyball/keyball44/keymaps/via/config.h
keyboards/keyball/keyball44/keymaps/via/keymap.c
keyboards/keyball/keyball44/keymaps/via/rules.mk
keyboards/keyball/keyball61/config.h
keyboards/keyball/keyball61/halconf.h
keyboards/keyball/keyball61/keyball61.c
keyboards/keyball/keyball61/keyball61.h
keyboards/keyball/keyball61/keyboard.json
keyboards/keyball/keyball61/mcuconf.h
keyboards/keyball/keyball61/readme.md
keyboards/keyball/keyball61/rules.mk
keyboards/keyball/keyball61/keymaps/default/config.h
keyboards/keyball/keyball61/keymaps/default/keymap.c
keyboards/keyball/keyball61/keymaps/default/rules.mk
keyboards/keyball/keyball61/keymaps/develop/config.h
keyboards/keyball/keyball61/keymaps/develop/keymap.c
keyboards/keyball/keyball61/keymaps/develop/rules.mk
keyboards/keyball/keyball61/keymaps/test/config.h
keyboards/keyball/keyball61/keymaps/test/keymap.c
keyboards/keyball/keyball61/keymaps/test/rules.mk
keyboards/keyball/keyball61/keymaps/via/config.h
keyboards/keyball/keyball61/keymaps/via/keymap.c
keyboards/keyball/keyball61/keymaps/via/rules.mk
keyboards/keyball/lib/glcdfont.c
keyboards/keyball/lib/duplexmatrix/duplexmatrix.c
keyboards/keyball/lib/duplexmatrix/duplexmatrix.h
keyboards/keyball/lib/duplexmatrix/duplexmatrix.sync-conflict-20240505-122328-VL7CYNH.c
keyboards/keyball/lib/keyball/keyball.c
keyboards/keyball/lib/keyball/keyball.h
keyboards/keyball/lib/keyball/keycodes.md
keyboards/keyball/lib/keyball/README.md
keyboards/keyball/lib/logofont/font.md
keyboards/keyball/lib/logofont/logofont.c
keyboards/keyball/lib/oledkit/oledkit.c
keyboards/keyball/lib/oledkit/oledkit.h
